{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 120,
    "tabWidth": 4,
    "bracketSameLine": true,
    "semi": false,
    "arrowParens": "always",
    "plugins": ["prettier-plugin-tailwindcss"],
    "XXX-tailwindConfig": "./styles/tailwind.config.js"
}